<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TLUContact"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Đăng kí"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TLUContact" />
        <activity
            android:name=".UnitDirectoryActivity"
            android:label="Danh bạ đơn vị"
            android:exported="true"/>
        <activity
            android:name=".UnitDetailActivity"
            android:label="Chi tiết đơn vị"
            android:exported="true"/>
        <activity
            android:name=".EditUnitActivity"
            android:label=""
            android:exported="true"/>
        <activity
            android:name=".StaffDirectoryActivity"
            android:label="Danh bạ CBNV"
            android:exported="true"/>
        <activity
            android:name=".StaffDetailActivity"
            android:label="Chi tiết CBNV"
            android:exported="true"/>
        <activity
            android:name=".EditStaffActivity"
            android:label=""
            android:exported="true"/>
    </application>

</manifest>